Package: crypt-manager
Version: 0.0.1-1ubuntu0
Section: admin
Priority: optional
Architecture: all
Depends: python-central (>= 0.5.8), python (>= 2.5), python (<< 2.6), encfs
Recommends: gcrypt-manager, nautilus-crypt
Installed-Size: 80
Maintainer: Kévin Dunglas <dunglas@gmail.com>
Description: An encrypted folder manager
 Crypt Manager is a set of tools designed to manage encrypted folders on Linux.
 It provide a command line tool and a Python module to integrate it
 in other applications.
Python-Version: 2.5
