Source: foldercrypt
Section: admin
Priority: optional
Maintainer: Kévin Dunglas <dunglas@gmail.com>
Build-Depends: debhelper (>= 5.0.38), python-central (>= 0.5.6)
Standards-Version: 3.7.2
XB-Python-Version: ${python:Versions}
XS-Python-Version: all

Package: foldercrypt
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, encfs
Recommends: foldercrypt-gtk, nautilus-foldercrypt
Description: An encrypted folder manager
 Foldercrypt is a set of tools designed to manage encrypted folders on Linux.
 It provide a command line tool and a Python module to integrate it
 in other applications.
