Source: foldercrypt-gtk
Section: gnome
Priority: optional
Maintainer: Kévin Dunglas <dunglas@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: foldercrypt-gtk
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, foldercrypt, python-glade2, python-gtk2
Recomends: nautilus-foldercrypt
Description: A graphical encrypted folders manager
 A GTK encrypted folders manager for Linux and the GNOME desktop.
