Source: nautilus-crypt
Section: gnome
Priority: optional
Maintainer: Kévin Dunglas <dunglas@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: nautilus-crypt
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, gcrypt-manager
Description: A Nautilus extension to manage encrypted folders
 An extension to the GNOME files manager for encrypted folders.
